.jumbotron {
	background: #42cbf4;
	color: white;
	padding-bottom: 10px;
	font-family: 'Raleway', sans-serif;
	
}


.jumbotron p {
	
	color: white;
	max-width: 90%;
	margin: 1em auto 2em;
}

.jumbotron .lang-logo {
	display: block;
	background: #B01302;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white;
}

.jumbotron .lang-logo img {
	max-width: 100%;
}

.emoji{
	font-size: 30px;
}

.trans {
	
	opacity: 0.3;
}


.say {
	
	background-image: url('/say.png');
	width:594px;
	height:490px;
	
}

.emojidude {
	width:280px;
	height:490px;
	vertical-align: bottom;
}


.think {
	background-image: url('/think.png');
	width:594px;
	height:490px;
	
	font-size: 30px;
	
	
}

#data {
	border:0px;
	margin-left:115px;
	width:350px;
	height:200px;
	
}

#translation {
	
	margin-left:105px;
	width:400px;
	height:200px;
}