<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

</head>

<body>

<div class="container">

	<table class="emoji">
	<% for (var k in emojis) { %>
	   <tr>
	     <td><%= emojis[k] %></td>
	     <td><%= k %></td>
	   </tr>
	<% } %>
	</table>


</div>


</body>
</html>
