<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
  <script>
	  $(document).ready(function(){
		$('#translator').click(function(){
			translate();
		});
	  });
	  
	  $(document).ready(function(){
	     $('input').bind("enterKey",function(e){
	       translate();
	     });
	     $('input').keyup(function(e){
	       if(e.keyCode == 13)
	       {
	          $(this).trigger("enterKey");
	       }
	     });
	  });
	  
	  function translate(){
		$('#translation').empty().hide();
		var dataToTranslate = document.getElementById('data').value;
		var translationUrl = '/translate/' + dataToTranslate;
		$.getJSON(translationUrl, function(data) {
			$.each( data, function( key, val ) {
				$('#translation').append(val + " ").fadeIn();
			});
		});
	  }
  </script>

</head>

<body>

<div container class="jumbotron text-center">
  <div class="container">
	  
    <a href="/" class="lang-logo">
      <img src="/emoji.png">
    </a>
    <h1>Dotmoji: Emoji Translator</h1>
    <p>Type in your phrase in the thought bubble, and then the speech bubble will say it as emojis!</p>

  </div>
</div>



<div class="container">
	
	<input id="data" width="300px" value="" />
	<input id="translator" type="button" value="translate" />
	<div id="translation" class="emoji"></div>
	
	
</div>
 

</body>
</html>
