<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div container class="jumbotron text-center">
  <div class="container">
	  
    <a href="/" class="lang-logo">
      <img src="/emoji.png">
    </a>
    <h1>Dotmoji: Emoji Translator</h1>
    <p>Type in your phrase in the thought bubble, and then the speech bubble will say it as emojis!</p>

  </div>
</div>
<div class="container">

</div>
  

</body>
</html>
