<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  
  <script>
	  $(document).ready(function(){
		$('#translator').click(function(){
			$('#translation').empty().hide();
			var dataToTranslate = document.getElementById('data').value;
			var translationUrl = '/translate/' + dataToTranslate;
			$.getJSON(translationUrl, function(data) {
				$.each( data, function( key, val ) {
					$('#translation').append(val).fadeIn();
				});
			});
		});
	  });
  </script>
</head>

<body>
<input id="data" width="300px" value="1" />
<input id="translator" type="button" value="translate" />
<div id="translation" class="emoji"></div>
</body>
</html>
